@model IEnumerable<DanceApp1.Models.DancerDto>
@{
    ViewBag.Title = "List";
}

<div class="d-flex min-vh-100">
    <div class="container align-self-center">
        <div class="row justify-content-center">

            <div class="col-12 col-lg-8 col-xl-6 text-center">

                <div class="lc-block mb-2">
                    <img class="img-fluid w-75" alt="Photo by Sebastian Pichler" src="https://images.unsplash.com/photo-1454486837617-ce8e1ba5ebfe?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                </div>
                <div class="lc-block mb-4">
                    <div editable="rich">

                        <h2>Here is our list of dancers on Danceforce Now</h2>

                        <p>From effortlessly managing dancer profiles, including their bios and styles, to organizing dynamic dance groups and coordinating captivating showcases, our comprehensive tools provide you with the control and flexibility you need. </p>
                    </div>
                </div>
                <form method="GET" action="/Dancer/New">
                    <button class="btn btn-success">Add New Dancer</button>
                </form>
            </div>
        </div>
    </div>
</div>



<div style="width:30%; margin-top:2rem;">
    <div style="width: 300px; position: relative; display: flex;">
        <form method="GET" action="/Dancer/List">
            <input type="text" name="SearchKey" placeholder="Search dancer" style="width:200px; border:3px solid #00b4cc; border-right:none; padding:5px; height:auto;border-radius:5px 0 0 5px; outline:none; color:#9DBFAF;" />
        </form>
        <button type="submit" class="searchButton" style=" width: 100px; height: auto; border: 1px solid #00B4CC; background: #00B4CC; text-align: center; color: #fff; border-radius: 0 5px 5px 0; cursor: pointer; font-size: 20px;">
            Search
        </button>
    </div>
</div>


<div class="card-container" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
    @foreach (var dancer in Model)
    {
        <div class="card" style="width: 18rem; margin-top: 2rem;">
            <div class="card-body">
                <div class="card-text"><strong>@dancer.firstName @dancer.lastName</strong></div>
                <div class="card-text"><strong>Dance Style:</strong> @dancer.danceStyle</div>
                <nav style="margin-top: 1rem;">
                    <form method="POST" action="/Dancer/Details/@dancer.dancerId" style="display: inline;">
                        <button class="btn btn-info">View Bio</button>
                    </form>
                </nav>
            </div>
        </div>
    }
</div>
