@model IEnumerable<DanceApp1.Models.GroupDto>
@{
    ViewBag.Title = "List";
}

<nav style="display: flex; align-items: center;">
    <h2 style="margin-right: 20px;">List of Dance Groups</h2>
    <form method="GET" action="/Group/New">
        <button class="btn btn-success">Add New Group</button>
    </form>
</nav>

@foreach (var group in Model)
            {
                <p><a href="/Group/Details/@group.groupId">@group.groupName</a></p>
            } 

