
@{
    ViewBag.Title = "Create";
}

<h2>Create Group</h2>

<div style="display: flex; justify-content: space-between;">
    <form action="/Group/Create" method="POST">
        <div class="mb-3">
            <label class="form-label">Group Name:  </label> 
            <input class="form-control" type="text" name="groupName" placeholder="Enter Dance Group"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Group Style:  </label> 
            <input class="form-control" type="text" name="groupStyle" placeholder="Enter Dance Style"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Group Bio: </label>
            <input class="form-control" type="text" name="groupBio"  placeholder="Enter Group Bio"/>
        </div>
        <div>
            <input type="submit" value="Add Group" class="btn btn-success" style="margin-top:1rem;"  />
        </div>
    </form>

    <nav>
        <form method="POST" action="/Group/List">
            <button class="btn btn-danger">Cancel</button>
        </form>
    </nav>
</div>