@model DanceApp1.Models.ShowcaseDto

@{
    ViewBag.Title = "Details";
}

<a href="/Showcase/List">Back To List</a>


<h3>@Model.showcaseName</h3>
<div><strong>Date:</strong> @Model.Date</div>
<div><strong>Location:</strong> @Model.showcaseLocation</div>


<nav>
    <form method="POST" action="/Showcase/Edit/@Model.showcaseId">
        <button>Edit</button>
    </form>
</nav>

<nav>
    <form method="POST" action="/Showcase/DeleteConfirm/@Model.showcaseId">
        <button style="color:#ab2020;">Delete</button>
    </form>
</nav>