@model DanceApp1.Models.ShowcaseDto

@{
    ViewBag.Title = "Update";
}

<h2>Update Showcase Information</h2>

<div style="display: flex; justify-content: space-between;">
    <form action="/Showcase/Update/@Model.showcaseId" method="POST">
        <input type="text" style="display:none;" name="showcaseId" value="@Model.showcaseId" />
        <div class="mb-3">
            <label class="form-label">Showcase Name:  </label> 
            <input class="form-control" type="text" name="showcaseName" value="@Model.showcaseName" />
        </div>
        <div class="mb-3">
            <label class="form-label">Date: </label> 
            <input class="form-control" type="datetime" name="Date" value="@Model.Date" />
        </div>
        <div class="mb-3">
            <label class="form-label">Location: </label> 
            <input class="form-control" type="text" name="showcaseLocation" value="@Model.showcaseLocation" />
        </div>
        <div style="margin: 1rem 0;">
            <input class="btn btn-success" type="submit" value="Update Showcase" />
        </div>
    </form>
</div>

<nav>
    <form method="POST" action="/Showcase/Details/@Model.showcaseId">
        <button class="btn btn-danger">Cancel</button>
    </form>
</nav>