@model IEnumerable<DanceApp1.Models.ShowcaseDto>
@{
    ViewBag.Title = "List";
}

<nav style="display: flex; align-items: center;">
    <h2 style="margin-right: 20px;">List of Showcases</h2>
    <form  method="GET" action="/Showcase/New">
        <button class="btn btn-success">Add New Showcase</button>
    </form>
</nav>

@foreach (var showcase in Model)
            {
                <p><a href="/Showcase/Details/@showcase.showcaseId">@showcase.showcaseName</a></p>
            } 

